.company {
  display: flex;
  background-color: #FFFFFF;
  margin-top: -2px;
  margin-bottom: 2px;
}

.company__image {
  min-width: 220px;
  height: 317px;
  margin-left: auto;
  margin-top: 80px;

  @media (max-width: $tablet-width) {
    min-width: 242px;
    height: 361px;
    margin-top: 25px;
    margin-left: -4px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.company__wrapper {
  position: relative;
  max-width: 1023px;
  padding-top: 75px;
  padding-bottom: 110px;
  margin-right: auto;
  padding-right: 40px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/big-triangle.png");
    background-repeat: no-repeat;
    width: 750px;
    height: 650px;
    top: -165px;
    left: -430px;
    z-index: 10;
  }

  @media (max-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 83px;
    margin-left: -28px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    padding-left: 15px;
    padding-right: 17px;
    padding-top: 36px;
    padding-bottom: 65px;
  }
}

.company__title {
  position: relative;
  font-family: $textRoboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  padding-bottom: 21px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 24px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    padding-bottom: 22px;
  }
}

.company__description {
  padding-bottom: 20px;

  &:nth-child(4) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 22px;
    padding-left: 2px;
    padding-right: 28px;

    &:nth-child(4) {
      display: block;
    }

    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.company__description_suppliers {
  @media (max-width: $mobile-width) {
    padding-bottom: 10px;
  }
}

.company__more-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  border: 1px solid #00b2ff;
  border-radius: 5px;
  font-family: $textRoboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  margin-top: 18px;

  @media (max-width: $tablet-width) {
    margin-left: 2px;
  }

  &:hover {
    color: #fafafa;
    background-color: #00b2ff;
  }
}
