.question {
  background-color: #00b2ff;
  background-image: url("../img/forma-fon.png");
  background-position-x: center;
  background-position-y: -63px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.question__wrapper {
  display: flex;
  max-width: 1195px;
  width: auto;
  min-height: 670px;
  color: #ffffff;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $tablet-width) {
    min-height: 664px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    min-height: 640px;
  }
}

.question__image {
  width: auto;
  height: 288px;
  margin-top: 162px;
  margin-left: -25px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.question__wrapper_form {
  display: flex;
  flex-direction: column;
  width: 570px;

  @media (max-width: $tablet-width) {
    width: 590px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.question__form {
  display: flex;
  flex-wrap: wrap;
}

.question__title {
  font-family: $textRoboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  padding-top: 92px;
  letter-spacing: 0.01em;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    padding-top: 80px;
    letter-spacing: 0.01em;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    padding-top: 33px;
  }
}

.question_description {
  padding-top: 8px;
  padding-bottom: 51px;

  @media (max-width: $tablet-width) {
    padding-top: 16px;
    padding-bottom: 54px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 13px;
    padding-bottom: 27px;
  }
}

.question__form input,
.question__form textarea {
  background-color: #33c1ff;
  border: none;
  width: 100%;
  color: #ffffff;
  padding-left: 17px;
  border-radius: 0;
}

.question__form textarea {
  height: 154px;
  margin-bottom: 39px;
  margin-top: 40px;
  padding-top: 14px;
  resize: none;

  @media (max-width: $tablet-width) {
    height: 160px;
    margin-bottom: 40px;
    margin-top: 42px;
    padding-top: 14px;
  }

  @media (max-width: $mobile-width) {
    height: 104px;
    margin-bottom: 22px;
    margin-top: 33px;
    padding-top: 14px;
  }
}

.question__form_wrapper-input {
  display: flex;
  width: 100%;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.question__form input {
  height: 50px;
}

.question__form_item {
  width: 100%;

  &:nth-child(1) {
    margin-right: 31px;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 31px;
    }
  }
}

.question__form_item ::placeholder {
  color: #ffffff;
}

.question__button {
  max-width: 270px;
  min-width: 270px;
  width: 100%;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: $textRoboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 38px;

  @media (max-width: $tablet-width) {
    min-width: 280px;
    width: 100%;
    height: 45px;
  }

  @media (max-width: $mobile-width) {
    min-width: 288px;
    max-width: 100%;
    margin-bottom: 28px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.question__form_checkbox {
  position: relative;
  cursor: pointer;
  font-family: $textMono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    opacity: 0.5;
  }

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
    top: 0;
    left: -31px;
  }
}

.question__form_checkbox input[type="checkbox"]:checked + .question__form_checkbox-indicator {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/Vector.svg");
    width: 5px;
    height: 9px;
    top: 3px;
    left: -26px;
    transform: rotate(90deg);
  }
}

.question__form_data-processing {
  max-width: 266px;
  width: 100%;
  padding-left: 33px;
  padding-top: 2px;

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }
}

.question__wrapper_button-checkbox {
  display: flex;
  width: 100%;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}
