@font-face {
  font-family: "PT Mono", monospace;
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("Roboto-Condensed"),
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
